$border-color:rgb(158, 157, 157);

form{        //encapsula todo
    width: 50%;
    margin: auto;
    height: 40em;
    border: 2px $border-color;
    border-style: none solid solid solid;
    border-radius: 0em 0em 0.5em 0.5em;
    padding:5em;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

mat-form-field{
    margin: 0em  1em 1em 1em;
    width: 30em;
    border-radius: 0.5em;
}
textarea{
    height: 10em;
}
mat-label{
    color: blueviolet;
}

button{     //boton actualizar
    float: right;
    margin-right: 2.5em;
    margin-top: 1em;
    font-size: 1em;
    width: 10em;
    height: 3em;
    border: 2px solid $border-color;
    background-color: blueviolet;
    color: white;
}
#descripcion{
    width: 40em;
}